[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ollama = "*"
tts = "*"
playsound = "*"
pyobjc = {version = "*", sys_platform = "== 'darwin'"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
